<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>NoTis</title>
</head>
<body>


<div class="d-grid gap-2 col-6 mx-auto">
    <h1>NoTis</h1>
    <a th:href="@{/tistory/authorize}" class="btn btn-primary" type="button">NoTis가 처음이시면 Get Started!</a>
    <a th:href="@{/login}" class="btn btn-primary" type="button">이미 사용 중이시라면 로그인 하러가기!</a>
</div>

</body>
</html>
