<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>NoTis</title>
</head>
<body>
<h1>회원 가입</h1>

<form th:action="@{/join}" method="post">
    <div class="mb-3 row">
        <label for="staticAccessToken" class="col-sm-2 col-form-label">Access Token</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticAccessToken" th:value="${accessToken}" name="accessToken">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" th:value="${accountEmail}" name="email">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>
